.main{
    background-color: rgb(191, 234, 247);
    border: rgb(105, 12, 226);
    border-radius: 2-px;
}

.abt{
    background-image: url("https://www.smith.edu/sites/default/files/media/Documents/College-Relations/fall-zoom-5.jpg");
    height: 400px;
    background-size: no-repeat;
    background-size: cover;
}
.why{
    text-align: left;
    
}

.bt{
    border-radius: 15px;
}

.para{
    margin-top: 20px;
    color: rgb(105, 12, 226);

}